@model ContactUs
@{
    ViewData["Title"] = "Contact";
}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" > Contact</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="contact-form">
                    <form asp-action="SaveContact">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input asp-for="Name" type="text" class="form-control"
                                       placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <input asp-for="Email" type="email" class="form-control" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject" />
                            <input asp-for="Subject" type="text" class="form-control" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Message" class="form-control" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                            <span class="text-danger" asp-validation-for="Message"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <h3>Get in Touch</h3>
                    <p>
                        Lorem ipsum dolor sit amet, hendrerit finibus.
                    </p>
                    <h4><i class="fa fa-map-marker"></i>123 News Street, NY, USA</h4>
                    <h4><i class="fa fa-envelope"></i>info@example.com</h4>
                    <h4><i class="fa fa-phone"></i>+123-456-7890</h4>
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<partial name="_ValidationScriptsPartial" />